  
{% extends "template.html" %}

{% block title %}Data{% endblock %}

{% block main %}

<table class="styled-table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Password</th>
        </tr>
    </thead>
        {% for dict_item in my_data %}  
        <tr>
                <td>{{ dict_item['name'] }}</td> 
                <td>{{ dict_item['dept'] }}</td> 
                <td>{{ dict_item['email'] }}</td> 
                <td>{{ dict_item['password'] }}</td>   
        </tr>

            
        {% endfor %}
        
</table>

{% endblock %}